<div class="jumbotron">
	<div class="container">
		<h1>Share your videos with friends</h1>
		<p>Click the button below to share your youtube videos with everyone</p>
		<p>
			<%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
		</p>
    </div>
</div>

<% if @videos.any? %>
  <div class="container">
  	<h1>List of added Videos</h1>
  	<div id="player-wrapper"></div>
  	<% @videos.in_groups_of(3) do |group| %>
  	  <div class="row">
  	  	<% group.each do |video| %>
  	  	  <% if video %>
  	  	    <div class="col-md-4">
  	  	    	<div class="yt_video_thumbnail">
  	  	    		<%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'img-rounded'), "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>
  	  	    		
  	  	    		<div class="caption">
  	  	    			<h5><%= video.title %></h5>
  	  	    			<p>Published at <%= video.published_at.strftime('%-d %B %Y %H:%M:%S') %></p>
  	  	    			<p>
  	  	    				<span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= video.likes %>
  	  	    				<span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= video.dislikes %>
  	  	    				<span class="glyphicon glyphicon-trash"></span> <%= link_to 'Destroy', video_path(video.id), data: {:confirm => 'Are you sure'}, :method => :delete %>
  	  	    			</p>
  	  	    		 <table>
  	  	    		   <tr>
  	  	    		   	<th>Author Name&nbsp;&nbsp;&nbsp;</th>&nbsp;&nbsp;&nbsp; 
  	  	    		   	<th>Like Count&nbsp;&nbsp;&nbsp;</th>&nbsp;&nbsp;&nbsp;
  	  	    		   	<th>Total Reply Count&nbsp;&nbsp;&nbsp;</th>&nbsp;&nbsp;&nbsp;
  	  	    		   	<th>Comment&nbsp;&nbsp;&nbsp;</th>&nbsp;&nbsp;&nbsp;
  	  	    		   </tr>	
  	  	    		   
  	  	    	       <% JSON.parse((video.comments.to_json), :quirks_mode => true).each_char do |key, val| %>
  	  	    		   
  	  	    		 	 <tr>
  	  	    		 	 	<td><%= key %><%= val %></td>
  	  	    		 	 	<td><%= key %><%= val %></td>
  	  	    		 	 	<td><%= key %><%= val %></td>
  	  	    		 	 	<td><%= key %><%= val %></td>
  	  	    		 	 </tr> 	  	    		
  	  	    		   <% end %>
  	  	    		 </table>
  	  	    			
  	  	    		</div>
  	  	    	</div>
  	  	    </div>
  	  	  <% end %>
  	  	<% end %>
  	  </div>    
  	<% end %>	
  </div>
<% end %>
